*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Playfair Display', serif;
}
h1{
    font-size: 80px;
    font-weight: 100px;
    /* margin-left: 10px; */
}
form{
    margin-left: 10px;
}
p{
    /* margin-left: 9px; */
    margin-bottom: 10px;
}
div{
    display: block;
    margin-bottom: 10px;
}
label{
    display: inline-block;
    margin-bottom: 10px;
}
.text{
    padding: 8px 20px;
}